/*reset*/
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body {
  font: 14px/1.5 Arial;
  height: 100%;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.btn {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  background-color: #f7ba3e;
  padding: 20px 40px;
}
.btn::after {
  opacity: 0.8;
}
.layout {
  width: 1200px;
  margin: 0 auto;
}
/*header*/
header {
  position: relative;
  height: 100%;
  min-height: 600px;
  background: url(https://i.loli.net/2018/04/06/5ac72cad63fb9.jpg) no-repeat center;
  background-size: cover;
}
header .navbar {
  padding-top: 10px;
}
header .logo {
  color: #fed136;
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
  float: left;
  font-size: 32px;
}
header .nav {
  float: right;
}
header .nav > li {
  float: left;
}
header .nav a {
  padding: 10px 10px;
  display: block;
  color: #fff;
  font-size: 16px;
}
header .nav a:hover {
  color: #f7ba3e;
}
header .intro {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: #fff;
}
header .intro h3 {
  font-size: 32px;
}
header .intro h1 {
  font-size: 55px;
  margin-top: 20px;
}
header .intro .btn {
  margin-top: 20px;
}
/*content*/
section {
  padding: 150px 0;
  text-align: center;
}
section  h2 {
  font-size: 40px;
}
section  p {
  font-size: 18px;
}
section > ul {
  margin-top: 30px;
}
section > ul .iconfont {
  font-size: 60px;
}
section > ul > li {
  float: left;
  width: 33.33%;
  padding: 10px 20px;
}
section > ul p {
  margin-top: 10px;
}
section .portfolio {
  margin-top: 40px;
}
section .portfolio figure {
  width: calc(33.33% - 20px);
  height: 340px;
  margin: 10px;
  float: left;
}
section .portfolio a {
  display: block;
  height: 280px;
}
section .portfolio img {
  height: 100%;
  width: 100%;
}
section .portfolio figcaption {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}
section .portfolio p {
  color: #666;
  margin-top: 5px;
  margin-bottom: 20px;
}